@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
#landing-page{
    line-height: 4rem;
}
#landing-page h1{
    font-size: 46px;
    font-weight: 800;
}
#landing-page p{
    font-size: 30px;
    font-weight: 500;
}
