@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
#landing-page{
    background-image: url("../images/pizza.jpg");
    background-size: cover;
    height: 93vh;
    line-height: 5rem;
}
#landing-page h1{
    font-size: 46px;
    font-weight: 800;
    word-spacing: 2rem;
}
#landing-page p{
    font-size: 30px;
    font-weight: 700;

}